@model IEnumerable<GoalTrackingApp.Models.Goal>
@{
    ViewData["Title"] = "Goals";
}

<h1>Goals</h1>

<p>
    <a asp-action="Create">Add Goal</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
               <form asp-action="UpdateStatus" method="post" style="display: inline;">
                <input type="hidden" name="id" value="@item.Id" />
                <select name="status" onchange="this.form.submit()">
                    <!option value="Iniciada" @(item.Status == GoalTrackingApp.Models.GoalStatus.Iniciada ? "selected" : "")>Iniciada</!option>
                    <!option value="EnProceso" @(item.Status == GoalTrackingApp.Models.GoalStatus.EnProceso ? "selected" : "")>En Proceso</!option>
                    <!option value="Completada" @(item.Status == GoalTrackingApp.Models.GoalStatus.Completada ? "selected" : "")>Completada</!option>
                </select>
                </form>

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
